@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');@import "tailwindcss";

body{
    font-family: "Atkinson Hyperlegible Mono", serif;
    min-height: 100vh;
    background: #d1cddf;
}
